# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
argon2-cffi=20.1.0=pypi_0
async-generator=1.10=pypi_0
attrs=21.2.0=pypi_0
automat=20.2.0=pypi_0
backcall=0.2.0=pyhd3eb1b0_0
backports-csv=1.0.7=pypi_0
beautifulsoup4=4.9.3=pypi_0
bert-extractive-summarizer=0.7.1=pypi_0
billiard=3.6.4.0=pypi_0
blas=1.0=mkl
bleach=3.3.0=pypi_0
blis=0.7.4=pypi_0
bpemb=0.3.3=pypi_0
breadability=0.1.20=pypi_0
brotli=1.0.9=pypi_0
bs4=0.0.1=pypi_0
ca-certificates=2021.5.30=h5b45459_0
catalogue=2.0.4=pypi_0
certifi=2021.5.30=py36ha15d459_0
cffi=1.14.5=pypi_0
chardet=4.0.0=pypi_0
cheroot=8.5.2=pypi_0
cherrypy=18.6.0=pypi_0
click=7.1.2=pyhd3eb1b0_0
cloudpickle=1.6.0=pypi_0
colorama=0.4.4=pyhd3eb1b0_0
colorlover=0.3.0=pypi_0
constantly=15.1.0=pypi_0
contextvars=2.4=pypi_0
coverage=5.5=pypi_0
cryptography=3.4.7=pypi_0
cssselect=1.1.0=pypi_0
cufflinks=0.17.3=pypi_0
cycler=0.10.0=py36haa95532_0
cymem=2.0.5=pypi_0
cython=0.29.14=pypi_0
dash=1.20.0=pypi_0
dash-bootstrap-components=0.12.2=pypi_0
dash-core-components=1.16.0=pypi_0
dash-extensions=0.0.55=pypi_0
dash-html-components=1.1.3=pypi_0
dash-renderer=1.9.1=pypi_0
dash-table=4.11.3=pypi_0
dataclasses=0.8=pypi_0
decorator=4.4.2=pyhd3eb1b0_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.12=pypi_0
docopt=0.6.2=pypi_0
en-core-web-lg=3.0.0=pypi_0
en-core-web-md=3.0.0=pypi_0
en-core-web-sm=3.0.0=pypi_0
en-core-web-trf=3.0.0=pypi_0
entrypoints=0.3=pypi_0
feedparser=6.0.6=pypi_0
filelock=3.0.12=pypi_0
flair=0.8.0.post1=pypi_0
flask=2.0.1=pypi_0
flask-caching=1.10.1=pypi_0
flask-compress=1.10.1=pypi_0
freetype=2.10.4=hd328e21_0
fsspec=0.8.7=pyhd8ed1ab_0
ftfy=6.0.3=pypi_0
funcy=1.16=pypi_0
future=0.18.2=pypi_0
fuzzysearch=0.7.3=pypi_0
fuzzywuzzy=0.18.0=pypi_0
gdown=3.12.2=pypi_0
gensim=3.5.0=pypi_0
h2=3.2.0=pypi_0
hdbscan=0.8.27=py36h6434af4_0
hpack=3.0.0=pypi_0
huggingface-hub=0.0.8=pypi_0
hyperframe=5.2.0=pypi_0
hyperlink=21.0.0=pypi_0
hyperopt=0.2.5=pypi_0
icc_rt=2019.0.0=h0cc432a_1
icu=58.2=ha925a31_3
idna=2.10=pypi_0
immutables=0.15=pypi_0
importlib-metadata=3.10.1=pypi_0
importlib-resources=5.1.4=pypi_0
incremental=21.3.0=pypi_0
intel-openmp=2020.2=254
ipykernel=5.3.4=py36h5ca1d4c_0
ipython=7.16.1=py36h5ca1d4c_0
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=7.6.3=pypi_0
itemadapter=0.2.0=pypi_0
itemloaders=1.0.4=pypi_0
itsdangerous=2.0.1=pypi_0
janome=0.4.1=pypi_0
jaraco-classes=3.2.1=pypi_0
jaraco-collections=3.3.0=pypi_0
jaraco-functools=3.3.0=pypi_0
jaraco-text=3.5.0=pypi_0
jedi=0.17.2=py36haa95532_1
jinja2=3.0.1=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.0.1=pyhd3eb1b0_0
jpeg=9b=hb83a4c4_2
jsonschema=3.2.0=pypi_0
jupyter_client=6.1.7=py_0
jupyter_core=4.7.1=py36haa95532_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-widgets=1.0.0=pypi_0
kiwisolver=1.3.1=py36hd77b12b_0
konoha=4.6.5=pypi_0
langdetect=1.0.9=pypi_0
libpng=1.6.37=h2a8f88b_0
libsodium=1.0.18=h62dcd97_0
libtiff=4.1.0=h56a325e_1
llvmlite=0.36.0=pypi_0
lxml=4.6.3=pypi_0
lz4-c=1.9.3=h2bbff1b_0
markupsafe=2.0.1=pypi_0
matplotlib=3.3.4=py36haa95532_0
matplotlib-base=3.3.4=py36h49ac443_0
mistune=0.8.4=pypi_0
mkl=2020.2=256
mkl-service=2.3.0=py36h196d8e1_0
mkl_fft=1.3.0=py36h46781fe_0
mkl_random=1.1.1=py36h47e9c7a_0
more-itertools=8.8.0=pypi_0
mpld3=0.3=pypi_0
murmurhash=1.0.5=pypi_0
mysqlclient=2.0.3=pypi_0
nbclient=0.5.3=pypi_0
nbconvert=6.0.7=pypi_0
nbformat=5.1.3=pypi_0
nest-asyncio=1.5.1=pypi_0
networkx=2.5.1=pypi_0
nltk=3.5=py_0
notebook=6.4.0=pypi_0
numba=0.53.1=pypi_0
numexpr=2.7.3=pypi_0
numpy=1.19.2=py36hadc3359_0
numpy-base=1.19.2=py36ha3acd2a_0
olefile=0.46=py36_0
openssl=1.1.1k=h8ffe710_0
overrides=3.1.0=pypi_0
packaging=20.9=pypi_0
pandas=1.1.3=py36ha925a31_0
pandocfilters=1.4.3=pypi_0
parsel=1.6.0=pypi_0
parso=0.7.0=py_0
pathy=0.5.2=pypi_0
pattern=3.6=pypi_0
pdfminer-six=20201018=pypi_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=8.1.1=py36h4fa10fc_0
pip=21.0.1=py36haa95532_0
plotly=4.14.3=pypi_0
portend=2.7.1=pypi_0
preshed=3.0.5=pypi_0
priority=1.3.0=pypi_0
prometheus-client=0.11.0=pypi_0
prompt-toolkit=3.0.8=py_0
protego=0.1.16=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pyclustering=0.10.1.2=pypi_0
pycountry=20.7.3=pypi_0
pycparser=2.20=pypi_0
pydantic=1.7.4=pypi_0
pydispatcher=2.0.5=pypi_0
pygments=2.8.0=pyhd3eb1b0_0
pyldavis=3.2.2=pypi_0
pynndescent=0.5.2=pypi_0
pyopenssl=20.0.1=pypi_0
pyparsing=2.4.7=pyhd3eb1b0_0
pyphen=0.10.0=pypi_0
pyqt=5.9.2=py36h6538335_2
pyrsistent=0.17.3=pypi_0
pysocks=1.7.1=pypi_0
python=3.6.12=h5500b2f_2
python-dateutil=2.8.1=pyhd3eb1b0_0
python-docx=0.8.11=pypi_0
python-graphviz=0.16=pypi_0
python-levenshtein-wheels=0.13.2=pypi_0
python_abi=3.6=1_cp36m
pytz=2021.1=pyhd3eb1b0_0
pywin32=227=py36he774522_1
pywinpty=1.1.1=pypi_0
pyzmq=20.0.0=py36hd77b12b_1
qt=5.9.7=vc14h73c81de_0
queuelib=1.6.1=pypi_0
regex=2020.11.13=py36h2bbff1b_0
requests=2.25.1=pypi_0
retrying=1.3.3=pypi_0
sacremoses=0.0.45=pypi_0
scikit-learn=0.23.2=py36h47e9c7a_0
scipy=1.5.2=py36h9439919_0
scrapy=2.5.0=pypi_0
scrapyscript=1.1.3=pypi_0
seaborn=0.11.1=pyhd3eb1b0_0
segtok=1.5.10=pypi_0
send2trash=1.5.0=pypi_0
sentence-transformers=1.2.0=pypi_0
sentencepiece=0.1.95=pypi_0
service-identity=21.1.0=pypi_0
setuptools=57.0.0=pypi_0
sgmllib3k=1.0.0=pypi_0
sip=4.19.8=py36h6538335_0
six=1.15.0=py36haa95532_0
smart-open=3.0.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.2.1=pypi_0
spacy=3.0.6=pypi_0
spacy-alignments=0.8.3=pypi_0
spacy-legacy=3.0.5=pypi_0
spacy-transformers=1.0.3=pypi_0
sqlite=3.33.0=h2a8f88b_0
sqlitedict=1.7.0=pypi_0
srsly=2.4.1=pypi_0
steam-reviews=0.1.2=pypi_0
steamreviews=0.9.3=pypi_0
summa=1.2.0=pypi_0
sumy=0.8.1=pypi_0
tabulate=0.8.9=pypi_0
tempora=4.0.2=pypi_0
terminado=0.10.0=pypi_0
testpath=0.5.0=pypi_0
textblob=0.15.3=pypi_0
textstat=0.7.1=pypi_0
thinc=8.0.3=pypi_0
threadpoolctl=2.1.0=pyh5ca1d4c_0
tk=8.6.10=he774522_0
tokenizers=0.10.3=pypi_0
torch=1.7.1=pypi_0
torchvision=0.10.0=pypi_0
tornado=6.1=py36h2bbff1b_0
tqdm=4.58.0=pypi_0
traitlets=4.3.3=py36_0
transformers=4.6.1=pypi_0
twisted=21.2.0=pypi_0
twisted-iocpsupport=1.0.1=pypi_0
typer=0.3.2=pypi_0
typing-extensions=3.10.0.0=pypi_0
umap=0.1.1=pypi_0
umap-learn=0.5.1=pypi_0
urllib3=1.26.3=pypi_0
vadersentiment=3.3.2=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
w3lib=1.22.0=pypi_0
wasabi=0.8.2=pypi_0
wcwidth=0.2.5=py_0
webencodings=0.5.1=pypi_0
werkzeug=2.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
widgetsnbextension=3.5.1=pypi_0
wincertstore=0.2=py36h7fe50ca_0
wordcloud=1.8.1=pypi_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h62dcd97_0
zc-lockfile=2.0=pypi_0
zeromq=4.3.3=ha925a31_3
zipp=3.4.1=pypi_0
zlib=1.2.11=h62dcd97_4
zope-interface=5.4.0=pypi_0
zstd=1.4.5=h04227a9_0
